.parent{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;

}
.p{
    width: 100px;
    height: 100px;
    flex:1 0 33.33%;
}
.p1{
    background-color: blueviolet;
}
.p2{
    background-color: aqua;

}
.p3{
    background-color: blueviolet;
}
.p4{
    background-color: brown;
}